<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="npnets.complexeditor.NestedPetriNetSystemEditor"
            contributorClass="npnets.complexeditor.NestedPetriNetSystemActionBarContributor"
            default="true"
            extensions="npnets"
            id="npnets.graphicaleditor.editorID"
            name="Dvoryansky&apos;s Nets Complex Edtior">
      </editor>
   </extension>
</plugin>
