<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="npnets.complexeditor.NestedPetriNetSystemEditor"
            contributorClass="npnets.complexeditor.NestedPetriNetSystemActionBarContributor"
            extensions="npnets"
            id="npnets.graphicaleditor.editorID"
            name="Dvoryansky&apos;s Nets Complex Edtior">
      </editor>
      <editor
            class="npnets.complexeditor.editorparts.ElementNetEditorPart"
            id="ene"
            name="Element Net Editor">
      </editor>
    </extension>
    <extension
         point="org.eclipse.ui.views">
        <view
            class="npnets.complexeditor.editorparts.ElementNetEditorPart"
            id="ene"
            name="Element Net Editor">
      </view>
    </extension>
</plugin>
